

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: lightblue;
  }
  
  .container {
    padding: 20px;
  }
  
  .transaction-table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
  }
  
  .transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .transaction-table th {
    background-color: #f2f2f2;
  }
  